extends layout

block content
  form(action="" method="POST")
    .form_input
      textarea(name="first", cols="90", rows="50" required) Исходный код первой программы
    .form_input
      button(type="submit") Сравнить
    .form_input
      textarea(name="second", cols="90", rows="50" required) Исходный код второй программы
  
  if result.length > 1
    .result_wrapper
      p= result