extends layout

block content
    form(class="main" action="" method="POST")
      .form_input
        textarea(data-autoresize name="first" class="form_textarea" required placeholder="Введите исходный код первой программы")
      .form_input.button_input
        div.compare_button_block
          button.compare_button.button#leven Алгоритм Вагнера-Фишера
          div.plagiarized
            span
          div.refreshBlock
            i.material-icons.refresh close
        div.compare_button_block
          button.compare_button.button#shingling W-shingling
          div.plagiarized 
            span 
          div.refreshBlock
            i.material-icons.refresh close
      .form_input
        textarea(data-autoresize name="second" class="form_textarea" required placeholder="Введите исходный код второй программы")
    
    script(type="text/javascript" src="/js/theme.js")
    script(type="text/javascript" src="/js/showResults.js")
    script(type="text/javascript" src="/js/fetch.js")
    //- script(type="text/javascript" src="/js/autoresize.js")
