doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/textarea.css')
    link(rel='stylesheet', href='/stylesheets/file.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="plugins/input-file-master/input-file.css" rel="stylesheet")

  body
    header.header
      h1 A prototype of a system for checking the source code for plagiarism 
      button.button.theme_button Dark theme
    block content
