doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/textarea.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    header.header
      h1 Прототип системы проверки исходного кода программ на плагиат
      button.button.theme_button Темная тема
    block content
