doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Прототип системы проверки исходного кода программ на плагиат
    block content
