block content
    form(action="files/express" method="POST" enctype="multipart/form-data")
            .form_input
                label(for="first-folder") First:
                input(type="file" name="first-folder" id="first-folder" webkitdirectory mozdirectory)
            .form_input
                label(for="second-folder") First:
                input(type="file" name="second-folder" id="second-folder" webkitdirectory mozdirectory)
            .form_input
                button(type="submit") Confirm