block content
    form(action="files/express" method="POST" enctype="multipart/form-data")
            .form_input
                label(for="file") File:
                input(type="file" name="file" id="file")
            .form_input
                button(type="submit") Confirm