extends layout

block content
    form(action="/files/leven" method="POST" enctype="multipart/form-data")
            .form_input
                label(for="image") First folder:
                input(type="file" name="first-folder" id="first-folder" webkitdirectory mozdirectory)
            .form_input
                label(for="image") Second folder:
                input(type="file" name="second-folder" id="second-folder" webkitdirectory mozdirectory)
            .form_input
                button(type="submit" class="button_small") Confirm