body {
  font: 14px "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #40434c26;
}
*{
  box-sizing: border-box;
}
a {
  color: #00B7FF;
}
.header{
  position: relative;
  left: 25%;
  width: 60%;
  text-align: center;
  color: #222429;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main{
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 30px;
}

.form_input.dark{
  background-color: #40434C;
  color: #fff;
}

.button_input{
  text-align: center;
  width: fit-content;
  margin: auto;
}

.compare_button{
  border: none;
  background: #47CF73;
  width: 200px;
  min-height: 50px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  position: relative;
}
.compare_button_block{
  font-size: 24px;
  border-radius: 15px;
  color: #fff;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}
.form_input{
  border-radius: 15px;
  overflow: auto;
  background-color: #fff;
}
.compare_button_block .plagiarized{
  transition: all .2s ease-in-out;
  width: 0;
  position: absolute;
  left: -60px;
  top: 0;
  border-radius: inherit;
  background-color: #ff6b6b;
  height: 100%;
  min-width: 60px;
  overflow: hidden;
}
.compare_button_block .plagiarized span{
  position: relative;
  top: calc(50% - 14px);
}
.compare_button_block .refresh {
  padding: 3px;
  border-radius: 50%;
  background: #47cf73;
  cursor: pointer;
  font-size: 36px;
}
.compare_button_block .refreshBlock{
  transition: right .2s ease-in-out;
  position: absolute;
  top: calc(50% - 22px);
  min-width: 41px;
  max-width: calc(100% - 60px);
  margin-right: 5px;
  right: -50px;
  overflow: hidden;
  text-align: end;
}
.button{
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 5px;
  overflow: hidden;
}

.theme_button{
  padding-left: 15px;
  padding-right: 15px;
  min-height: 40px;
  min-width: 150px;
  background-color: #40434c;
  color: #f9f9f9;
  font-size: 15px;
  line-height: 25px;
  float: right;
  font-weight: bold;
  letter-spacing: 1px;
}

button:focus{
  border: none;
  outline: none;
}
