.form_textarea{
  min-width: 100%;
  padding-top: 8px;
  border: none;
  min-height: 75vh;
  color: #222429;
  background-color: #fff;
  resize: none;
  overflow-x: hidden;
}
.compareText{
  margin-top:30px;
  margin-bottom:30px;
  position: relative;
  left:5%;
}
.textareaBlock{
  width:40%;
  padding: 7px 2px 5px 15px;

}
.form_input.textareaBlock:focus-within{
  border: 1px solid #47cf73;
}

.form_textarea::-webkit-scrollbar {
  background: #fff;
  border-radius: 15px;
  width: 5px;
}
.form_textarea.dark::-webkit-scrollbar {
  background:#40434C;
  border-radius: 15px;
  width:5px;
} 
.form_textarea::-webkit-scrollbar-thumb {
  background: #47cf73a6;
  border-radius: 15px;
}
.form_textarea::placeholder{
  color: #40434c75;
}
.form_textarea.dark{
  background-color: #40434C;
  color: #fff;
}

.form_textarea.dark::placeholder{
  color: #ffffff94;
}
textarea:focus{
  border: none;
  outline: none;
}